@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to AITS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Automatic Infotech is a software company that specializes in consulting services, manufacturing, construction, financial services.</p>
        <br />
        <p><b>Automatic Infotech</b> is part of the USD 60 Million Group of Companies.</p>
    </div>
</div>